{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link
      rel="stylesheet"
      href="{% static 'campagne/css/report.css' %}"
      type="text/css"
    />
    <title>Report</title>
    <meta name="description" content="Report example" />
  </head>

  <body>
    <article id="cover">
      <h1 class="cover-heading">ITS.kompetent Management Report</h1>
      <address>ITS.kompetent 2024</address>
    </article>
    
    <article id="contents">
      <h2>Inhaltsverzeichnis</h2>
      <h3>Über ITS.kompetent</h3>
      <ul>
        <li><a href="#explanation-title"></a></li>
        <li><a href="#explanation2-title"></a></li>
        <li><a href="#threat-title"></a></li>
        <li><a href="#offers-title"></a></li>

      </ul>
      <h3>Allgemeine Ergebnisse</h3>
      <ul>
        <li><a href="#facts-title"></a></li>
        <li><a href="#profile-distribution-title"></a></li>
        <li><a href="#threats-title"></a></li>
        <li><a href="#competence-dimension-title"></a></li>

      </ul>
      {% for profile in job_profiles %}
      <h3>{{ profile.name|safe }}</h3>
      <ul>
        <li><a href="#summary-title-{{ forloop.counter }}"></a></li>

        <li><a href="#threats-title-{{ forloop.counter }}"></a></li>
        <li>
          <a href="#competence-dimension-title-{{ forloop.counter }}"></a>
        </li>
        <li>
          <a href="#competence-dimension-per-threat-title-{{ forloop.counter }}"></a>
        </li>
      </ul>
      {% endfor %}
    </article>
    <article class="standard-page">
      <h2 class="standard-page-title" id="explanation-title">
        Was ist ITS.kompetent?
      </h2>

      <h3> Das Projekt ITS.Kompetent unterstützt KMUs dabei, die Kompetenzen der Mitarbeiter:innen im Bereich der Informationstechnischen Sicherheit (ITS-Kompetenzen) realitätsnah zu messen und mit den berufsbezogenen Anforderungen abzugleichen.
        Derzeit werden zwischen 5 ITS-Anforderungsprofilen unterschieden, zu denen sich Ihre Mitarbeiter*innen basierend auf Ihren Tätigkeiten im KMU zuordnen konnten. Am Beispiel des Modell-KMUs (der Arneo GmbH) wurden Ihre Mitarbeiter*innen in realitätsnahe Situationen versetzt, die Herausforderungen für die Informationssicherheit Ihres KMU darstellen können.
        Zu folgenden ITS-Anforderungsprofilen haben sich Ihre Mitarbeiter*innen basierend auf den Tätigkeiten exemplarischer Personen aus der Arneo GmbH zugeordnet:
      </h3>
        {% for profile in job_profiles %}
       
        <section id="profile-content">
          <div class="image-container">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
            
          </div>
          <div class="text-content">
              <h4>{{profile.name}}</h4>
              <p class="pre-line">{{profile.description}} </br>
               Tätigkeiten in der Arneo GmbH: </br> {{profile.tasks}}</p>
          </div>
      </section>
      {% endfor %}
      <article class="standard-page">
        <h2 class="standard-page-title" id="explanation2-title">
          Wie funktioniert ITS.kompetent?
        </h2>
  
        <h3> ITS.kompetent ist in 4 Schritte untergliedert. Im ersten Schritt wählen Mitarbeiter*innen von KMUs Ihr ITS-Anforderungsprofil aus. Danach werden Ihre ITS-Kompetenzen basierend auf dem ausgewählten ITS-Anforderungsprofil bestimmt. Jeder ITS-Kompetenztest beinhaltet pro ITS-Anforderungsprofil verschiedene IT-sicherheitskritische Situationen, die diesen im Arbeitsalltag begegnen können. 
          In diesen Situationen werden Mitarbeiter*innen mit bis zu 5 ITS-Bedrohungen konfrontiert. Das Verhalten im Umgang mit diesen ITS-Bedrohungen wird über 7 ITS-Kompetenzdimensionen gemessen. 
          Im dritten Schritt werden umfassende Statistiken zu den Ergebnissen aus der ITS-Kompetenzmessung generiert. Zuletzt werden ITS-Trainingsempfehlungen vorgeschlagen, die die Lücke zwischen IST-Zustand und SOLL-Zustand potentiell schließen können. Die Abbildung zeigt die beispielhafte Testung der ITS-Kompetenz für die ITS-Bedrohung Phishing/E-Mail-System.
        </h3>
        <img class="responsive-image" src="{% static 'campagne/css/images/example-itskompetent.png' %}"></img>


    </article>
    <article class="standard-page">
      <h2 class="standard-page-title" id="threat-title">
        Was sind ITS-Bedrohungen?
      </h2>

      <h3>
        ITS-Bedrohungen setzen sich aus ITS-Bedrohungsbereichen und ITS-Bedrohungsereignissen zusammen. <br/>

        Als ITS-Bedrohungsbereich definieren wir jene möglichen Unternehmenswerte (z. B. E-Mail-Programm), auf welche die unterschiedlichen ITS-Bedrohungsereignisse (z. B. Phishing-Attacke) abzielen können. <br/>

Die zweite Dimension ITS-Bedrohungsereignis beinhaltet wiederum Bedrohungsquellen, die potenziell einen Schaden an den zuvor erläuterten ITS-Bedrohungsbereichen verursachen können. 
      </h3>
      <img class="responsive-image" src="{% static 'campagne/css/images/bedrohungen.png' %}"></img>
    </article>
    <article class="standard-page" id="offers">
      <h2 class="standard-page-title" id="offers-title">Was sind ITS-Kompetenzdimensionen?</h2>
      <h3>Unter ITS-Kompetenz verstehen wir die bei Individuen verfügbaren (oder erlernbaren) kognitiven Fähigkeiten und Fertigkeiten, um im Berufsalltag IT-sicher zu handeln, sowie die damit verbundenen motivationalen und sozialen Bereitschaften und Fähigkeiten, um in variablen Situationen erfolgreich und verantwortungsvoll eine Gefahr abwenden bzw. bewältigen zu können (Weinert 2001). Hierbei konnten 7 Dimensionen identifiziert werden, die unten abgebildet sind.</h3>

      {% for competence_dimension in competence_dimensions %}


      <section>
        <p id="heading">{{competence_dimension.dimension_name}}</p>
        <p id="test">{{competence_dimension.dimension_description}}</p>

      </section>
      {% endfor %}
    </article>
    

    <article class="standard-page">
      <h2 class="standard-page-title" id="facts-title">Deskriptive Fakten</h2>

      <h3>So lief Ihre ITS.kompetent Kampagne 2024...</h3>

      <section id="table-content">
        <h4>Einladungen</h4>
        <p>
          Sie haben
          <strong>{{total_invited_employees}}</strong> Mitarbeiter*innen
          eingeladen an Ihrer ITS.kompetent Kampagne teilzunehmen.
        </p>
      </section>

      <section id="heading">
        <h4>Teilnahmen</h4>
        <p>
          Insgesamt haben
          <strong>{{total_number_of_partcipants}}</strong> Mitarbeiter*innen an
          Ihrer ITS.kompetent Kampagne teilgenommen.
        </p>
      </section>

      <section id="multi-columns">
        <h4>ITS-Anforderungsprofile</h4>
        <p>
          Ihre Mitarbeiter*innen haben sich zu
          <strong>{{job_profiles_with_data}}</strong> verschiedenen
          ITS-Anforderungsprofilen zugeordnet.
        </p>
      </section>

      <section id="internal-links">
        <h4>ITS-Trainingsempfehlungen</h4>
        <p>
          Wir haben Ihnen
          <strong>{{total_number_of_trainings}}</strong> verschiedenen
          ITS-Trainingsempfehlungen vorgeschlagen.
        </p>
      </section>
    </article>

    <article class="standard-page">
      <h2 class="standard-page-title" id="profile-distribution-title">
        Verteilung nach ITS-Anforderungsprofilen
      </h2>

      <h3>
        Es haben insgesamt {{total_number_of_partcipants}} von
        {{total_invited_employees}} Mitarbeiter*innen den ITS-Kompetenztest
        erfolgreich absolviert. 
      </br>
      <ul>
      {% for profile in job_profiles %}
      <li>{{profile.name}}:{{profile.participants}} Teilnehmer*innen</li>

      {% endfor %}
      </ul>




      </h3>
      <div class="chart-container">
        <div class="centered-image">{{ profile_distribution|safe }}</div>
      </div>
    </article>
    <article class="standard-page">
      <h2 class="standard-page-title" id="threats-title">Zusammenfassung ITS-Bedrohungen</h2>

      <h3>
        Die Graphik weiter unten auf dieser Seite verdeutlicht, wie Ihre Mitarbeiter*innen über alle ITS-Anforderungsprofile im Allgemeinen abgeschlosssen haben.
        Das Ergebnis stellt den Durchschnitt über alle vertesteten ITS-Bedrohungen dar. Ein Wert unter 50% verdeutlicht ein hohes Förderungspotential.
      </h3>
      <div class="chart-container">
        <div class="centered-image">
          {% with threat_chart=threat_charts.0 %} {{ threat_chart|safe }}
          {%endwith %}
        </div>
      </div>
    </article>
    <article class="standard-page">
      <h2 class="standard-page-title" id="competence-dimension-title">
        Zusammenfassung ITS-Kompetenzdimensionen
      </h2>
      <h3>
        Nachfolgend sind die Ergebnisse aus den ITS-Kompetenztests pro ITS-Kompetenzdimension über alle ITS-Anforderungsprofile dargestellt. Hierbei handelt es sich um den Durchschnitt über alle getesteten ITS-Bedrohungen. Ergebnisse unter 50% zeigen auf, 
        dass in diesen ITS-Kompetenzdimensionen die meisten Fehler gemacht wurden. Dies deutet auf ein besonderes
        Förderungspotential hin. Zwischen 51% und 66% der erreichbaren Punkte deuten auf ein solides Grundwissen hin. Über 66% zeigt, dass Ihre Mitarbeiter*innen eine gute bis sehr gutes Auprägung in der jeweiligen ITS-Kompetenzdimension aufweisen.
      </h3>
      <div class="chart-container">
        <div class="centered-image">
          {% with competence_bar_chart=competence_bar_charts.0 %} 
          {{ competence_bar_chart|safe }} 
          {% endwith %}
        </div>
      </div>
    </article>
    {% for profile, threat_chart, competence_bar_chart, competence_bar_chart_per_threat in zipped_data %}
    <article id="chapter">
      <h2 id="chapter-title">{{ profile.name }}</h2>
    </article>
    <article class="standard-page" id="offers">
      <h2 class="standard-page-title" id="summary-title-{{ forloop.counter }}">
        Key Facts & Zusammenfassung
      </h2>

      <h3>
        Mitarbeiter*innen aus dem ITS-Anforderungsprofil wurden auf {{ competence_bar_chart_per_threat|length }} ITS-Bedrohungen getestet. Im Folgenden erhalten Sie eine Beschreibung jeder vertesteten ITS-Bedrohung inklusive der erzielten prozentualen Punktzahl.
        Durchschnittliche Ergebnisse unter 66% der erreichbaren Punkte deuten auf ein Föderungspotential hin. Unter 33% raten wir dringend zu ITS-Trainings-Schulungen.
      </h3>
      <table>
        <thead>
            <tr>
                <th>ITS-Bedrohung</th>
                <th>Beschreibung</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
          {% for profile_item in competence_bar_chart_per_threat %}

            <tr>
                <td>{{ profile_item.threat.threat_vector_name}}</td>
                <td>{{ profile_item.threat.threat_vector_description}}</td>
                <td> {{ profile_item.threat.score}}%</td>
            </tr>
          {% endfor %}
            <!-- Add more rows here if needed -->
        </tbody>
    </table>
    </article>
    <article class="standard-page">
      <h2 class="standard-page-title" id="threats-title-{{ forloop.counter }}">
        Zusammenfassung ITS-Bedrohungen
      </h2>

      <h3>
        Die Graphik weiter unten auf dieser Seite verdeutlicht, wie Ihre Mitarbeiter*innen aus dem ITS-Anforderungsprofil {{profile.name}} im Allgemeinen abgeschlosssen haben.
        Das Ergebnis stellt den Durchschnitt über alle vertesteten ITS-Bedrohungen dar. Ein Wert unter 50% verdeutlicht ein hohes Förderungspotential.
      </h3>
      <div class="chart-container">
        <div class="centered-image">{{ threat_chart|safe }}</div>
      </div>
    </article>
    <article class="standard-page">
      <h2
        class="standard-page-title"
        id="competence-dimension-title-{{ forloop.counter }}"
      >
      Zusammenfassung ITS-Kompetenzdimensionen
      </h2>

      <h3>
        Nachfolgend sind die Ergebnisse aus den ITS-Kompetenztests pro ITS-Kompetenzdimension für das ITS-Anforderungsprofil {{profile.name}} dargestellt. Hierbei handelt es sich um den Durchschnitt über alle getesteten ITS-Bedrohungen. Ergebnisse unter 50% zeigen auf, 
        dass in diesen ITS-Kompetenzdimensionen die meisten Fehler gemacht wurden. Dies deutet auf ein besonderes
        Förderungspotential hin.
      </h3>
      <div class="chart-container">
        <div class="centered-image">
          {{ competence_bar_chart|safe }}
        </div>
      </div>
    </article>
    <h2
    class="standard-page-title"
    id="competence-dimension-per-threat-title-{{ forloop.counter }}"
  >
    Ergebnisse für die ITS-Bedrohungen für das ITS-Anforderungsprofil {{profile.name}}
  </h2>

  <h3>
    Auf den folgenden Seiten erhalten Sie detaillierte Informationen zu den Ergebnissen für das ITS-Anforderungsprofil {{profile.name}}.

  </h3>
 
    {% for profile_item in competence_bar_chart_per_threat %}
    <article class="standard-page">
    
    
    <article class="standard-page">
      <h2
        class="standard-page-title"
      >
        ITS-Bedrohung: {{ profile_item.threat.threat_vector_name}}
      </h2>

      <h3>
        Punkte gesamt: <strong>{{ profile_item.threat.score}}%</strong> <br> <br>
        
        {{ profile_item.threat.threat_vector_description}}

      </h3>
      <div class="chart-container">
        <div class="centered-image">{{ profile_item.chart|safe }}</div>
      </div>
    </article>
    {% endfor %}
    {% endfor %}

   
  </body>
</html>
